html, body {
    overflow: hidden;
}
body {
    width: 400px;
    max-height: 500px;
    background: #f2f1ed;
    font-family: 'Montserrat', sans-serif;
}
/*section, .card {display: none;}*/
/* Style concernant le loading */
.load {
    height: 100%;
    text-align: center;
}

.load .image {
    height: 48px;
    margin: 21px auto;
    width: 48px;
    background: #ffffff url(../img/load.gif) no-repeat center;
    background-size: 48px;
}

/* Fin du tyle concernant le loading */

#publication {
    display: none;
}

#publication .titre {
    margin-bottom: 25px;
}

#publication .contenu {
    font-size: larger;
    line-height: 1.7em;
    max-height: 400px;
    overflow-y: auto;
}

table, tbody, tr {
    display: block;
}

td {
    display: inline-block;
    width: 40%;
    padding: 10px;
}

td:first-child {
    font-weight: bold;
}

.msg{
    max-width: 80%;
    border-radius: 5px;
}

.msg-in {
}

.msg-out {
    border: 1px #ff3636 solid;
}

.msg-parent {
}

.bloc-saisie {
}

.messages {
    overflow: auto;
    max-height: 255px;
}
.none{display: none;}
#bloc_main {
    /*display: none;*/
}